{
  "Users": [
    {
      "Email": "user1@example.com",
      "Password": "password1",
      "DisplayName": "User 1"
    },
    {
      "Email": "user2@example.com",
      "Password": "password2",
      "DisplayName": "User 2"
    }
  ]
}
